@font-face {
  font-family: "Myriad Pro";
  src: url('/fonts/MyriadPro-Regular.otf') format('opentype');
}

/*@font-face {
  font-family: arial, sans-serif;
  src: url('/fonts/Vegur-Regular.otf') format('opentype');
}*/

body {
  overflow-y:hidden;
  background: url("/images/noisy_grid.png");
}
.class7 {
  /*background-image: url('/images/background_18.png');*/
  
  min-height: 800px;
  background: url("/images/layer_1_copy.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right:0;
  padding-right:0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -moz-box-shadow-left: 0 0 15px #888;
   -moz-box-shadow-right: 0 0 15px #888;
  -webkit-box-shadow-right: 0 0 15px#888;
  -webkit-box-shadow-left: 0 0 15px#888;
  box-shadow: 0 0 15px #888;
  padding-top:-0px;text-align:left;width:1200px;
  overflow-y:hidden;
}
.class8 {
background: url('/images/layer_6.png');
padding-top:0px;
margin:0px;
min-height:3px;

}

.class7 .class10 {
  background: url("/images/layer_4.png") no-repeat;
  background-size: 100% 100%;
  height: 33px;
  padding-top: 0%;
  padding-left: 80px;
  padding-right: 80px;
  font-family: arial, sans-serif;
  font-size: 12px;
}
.class7 .class10 .class12 {
  
  width: 5%;
  color: #1b918f;
  padding: 1%;
  margin-top:0;
}

/*.class7 .class10 .class14 {
  margin-top: 9px;
  margin-left: 11px;
  padding: 2%;
}*/



.class7 .class10 .class15 {
  
  width: 5%;
  color: #1b918f;
  padding: 1%;
}

.sclass12{
  color: #1b918f;
}
.sclass15{
  color: #1b918f;
}
.sclass18{
  color: #1b918f;
}

.class7 .class10 .class18 {
  width: 5%;
  color: #1b918f;
  padding: 1%;
}

.class7 .class10 .class23 {

  margin-left:10px;
  width:30px;
}
.class7 .class10 .class23 .class24 {
  width: 100%;
}
.class7 .class10 .class25 {
  
  margin-left: 10px;
  width: 30px;
}
.class7 .class26 {
  margin-top: 150px;
  margin-left: 400px;
  width: 400px;
}

.class7 .class28 {
  margin-top: 2%;
  margin-left: 450px;
  width: 200px;
  font-family: arial, sans-serif;
  font-size: 24px;
  color: #1b928f;
}
.class7 .class29 {
  margin-left: 300px;
  width: 600px;
  font-family: arial, sans-serif;
  font-size: 22px;
}

.class29 {

padding-top:2%;
}

.class7 .class29 .class31 .class32 {
  width: 279px;
}
.class7 .class29 .class31 .class33 {
  width: 279px;
}


.class7 .class39 {
  margin-top: 5%;
  margin-left: 420px;
  width: 400px;
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #2b7fff;
}
.class7 .class41 {
  background: url("/images/layer_13.png") no-repeat;
  background-size: 100% 100%;
  width: 400px;
 
  padding-top: 10%;
  margin-left: 350px;
  padding-left: 100px;
  padding-bottom: 0%;
  padding-right: ;

  font-family: arial, sans-serif;
  font-size: 12px;
  color: #1b918f;
  margin-bottom:0px;
  position:fixed;
  bottom:0px;
  z-index:100;
}

.class7 .class41 .class43 {
  width: 100%
}
.ui-autocomplete{
  text-align:left;
}
input[type="text"] {
	width: 78%;
	padding: 2% 2%;
	font-size: 16px;
	border: 1px solid #ddd;
	cbackground: #f5f5f5;
	
	font-family:sans-serif;
	border-radius: 4px;
	padding-left:5px;
min-height: 20px;
   font-style: italic;
  ccolor: #dfdfdf;
  text-align:center;
	}
	
	input[type="submit"] {
		padding: 2% 2%;
		font-size: 18px;
		color: #fff;
		border: none;
		background: #FF5656;
		background-color: #FF5656;
		border-radius: 8px;
		font-family:sans-serif;
		width:14%;
		min-height:20px;
    min-width:70px;
	}
	
	input[type="submit"]:hover,
	input[type="submit"]:focus {
		background: #FF5656;
		background-color: #FF5656;
	}