{%extends "base.html" %}
{% block content %}
<script>
        $(document).ready(function() {
    $("input#search").autocomplete({
    source: places
});
    $('#user_tips').attr('value','');
  });



</script>
<script>
$(document).ready(function(){
$("#dialog-form").dialog({
            autoOpen: false,
            height: 300,
            width: 600,
            modal: true,
            buttons: {
                "Send": function() {
                    send_email();
                     $(this).dialog("close");
                },
                Cancel: function() {
                  var place=$('#email_place').html()
                  _gaq.push(['_trackEvent', 'Sign_Up_Via_Tip_Rating', 'Cancel', place]);
                    $(this).dialog("close");
                }
            },
            close: function() {
               
            }
        });

function tweet()
{
  var place=$('#email_place').html();
  send_social_action('tweet',place);
}
function dialog(){

               $("#email").click(function() {
                var place=$('#email_place').html()
                _gaq.push(['_trackEvent', 'Email', 'Click', place]);
                $("#dialog-form").dialog("open");
            });
    }
function clear_placeholder()
{
  $('#search').attr('placeholder','');
}
    </script>


<div class="container">
    <div class="row">
     <div class="col-lg-6 input-group">
  <input id="search" type="text" class="form-control" placeholder="where are you headed? eg. Paris" onkeydown="if (event.keyCode==13) { search();}"/ >
  <span class="input-group-btn">
   <button type="button" value="Search" class="btn btn-primary"  onclick="search()">Search</button>
 </span>
 </div>
  </div>
  
  <br>
  <div class="row">
    <div class="col-lg-5">
   <table class="table table-bordered table-striped table-hover">
    <tbody>
      {% for p in places %}
      <tr>
        {% for inner_p in p %}
        <td>
          <div style="font-size:14px;"><center><a href="/search?location={{inner_p}}">{{inner_p.title()}}</a></center></div>
        </td>
        {% endfor %}
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



</div>
<hr>
   <div class="row">
    <div class="col-lg-4">
  <div class="footer">
  <p>© Tripinium.com 2013. All rights reserved.</p>
  </div>
</div>
</div>
  </div>
  {% endblock %}
