{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron" style="text-align:center;background-color:white;">
    <h1>Tripinium</h1>
  
  <p class="lead muted">Your gateway to travel planning information - useful, practical tips to give you a headstart on your next trip
  </p>
  <div class="col-lg-3"></div>
  <div class="col-lg-6 input-group">
  <input id="search" type="text" class="form-control" placeholder="where are you headed? eg. Paris" onkeydown="if (event.keyCode==13) { search();}"/ >
  <span class="input-group-btn">
   <button type="button" value="Search" class="btn btn-primary"  onclick="search()">Search</button>
 </span>
 </div>
</div>
</div>
<div class="container">
  <!--div class="row">
    <div class="col-lg-3 col-3"></div>
    <div class="col-lg-6 col-6">
      <h3>Or get started with the popular places below !</h3>
    </div>
  </div-->
  <div class="row">
    <div class="col-4 col-lg-4" style="text-align:center;">
      <a href="/search?location=paris" style="text-align:center;"><h3>Paris</h3></a>
      <a href="/search?location=paris" class="img-thumbnail"><img src="http://t3.gstatic.com/images?q=tbn:ANd9GcTJfvycXNmeq3VT0xkmhFD8fmMlOGW4O9hJbTYR446ikPQsX5fcUg" alt="Paris" style="width:100%;height:180px;">
      </a>
    </div>

    <div class="col-4 col-lg-4" style="text-align:center;">
      <a href="/search?location=london" style="text-align:center;"><h3>London</h3></a>
      <a href="/search?location=london" class="img-thumbnail"><img src="http://t0.gstatic.com/images?q=tbn:ANd9GcSfig2eLIOZhhvFto27h3xAdvT_gFLL28T3ql_TseklBtxisa-pog" alt="London" style="width:100%;height:180px;">
      </a>
    </div>
    <div class="col-4 col-lg-4" style="text-align:center;">
      <a href="/search?location=brussels" style="text-align:center;"><h3>Brussels</h3></a>
      <a href="/search?location=brussels" class="img-thumbnail"><img src="http://t3.gstatic.com/images?q=tbn:ANd9GcQDHBIMwxa3MeRmRAgLlx3Gt3U2xVomrAsJfFtd7_YU4Xp0Qi-k" alt="Brussels" style="width:100%;height:180px;">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-lg-4" style="text-align:center;">
      <a href="/search?location=singapore" style="text-align:center;"><h3>Singapore</h3></a>
      <a href="/search?location=singapore" class="img-thumbnail"><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcR_adMI7D4cKvULG2iZXtuuDUQlxZOVKd3FT1NhIp7zjdY-EOA5xg" alt="Singapore" style="width:100%;height:180px;">
      </a>
    </div>

    <div class="col-4 col-lg-4" style="text-align:center;">
      <a href="/search?location=las vegas" style="text-align:center;"><h3>Las Vegas</h3></a>
      <a href="/search?location=las vegas" class="img-thumbnail"><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcQlTEMqFahTFDqI3NAKBWGBkYUyeOKpDcehA8JYw67tjb9p0f6X" alt="Las Vegas" style="width:100%;height:180px;">
      </a>
    </div>
    <div class="col-4 col-lg-4" style="text-align:center;">
      <a href="/search?location=barcelona" style="text-align:center;"><h3>Barcelona</h3></a>
      <a href="/search?location=barcelona" class="img-thumbnail"><img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQIo-tVSdokz-KCdf9E7cgEXuEGM9ft2rydTf3npQfcfT9viUhHeg" alt="Barcelona" style="width:100%;height:180px;">
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
  <div class="footer">
  <p>© Tripinium.com 2013. All rights reserved.</p>
  </div>
</div>
</div>

</div>




<script type="text/javascript" charset="utf-8">
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
    js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));

  
</script>
{% endblock %}
