{% extends "base.html" %}
{% block content %}
<script>
$(document).ready(function(){
$("#dialog-form").dialog({
            autoOpen: false,
            height: 300,
            width: 600,
            modal: true,
            buttons: {
                "Send": function() {
                    send_email();
                     $(this).dialog("close");
                },
                Cancel: function() {
                  var place=$('#email_place').html()
                  _gaq.push(['_trackEvent', 'Sign_Up_Via_Tip_Rating', 'Cancel', place]);
                    $(this).dialog("close");
                }
            },
            close: function() {
               
            }
        });

$( "#login-confirm" ).dialog({
      resizable: false,
      height:160,
      modal: true,
      autoOpen:false,
      buttons: {
        "Login Usign Gmail": function() {
          window.location=$('#loginurl').attr('href')
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });

 twttr.ready(function (twttr) {
    // bind events here
    twttr.events.bind('tweet', function(event) {
    var place=$('#email_place').html()
    _gaq.push(['_trackEvent', 'Social', 'Tweet', place]);
    send_social_action('tweet',place);
  });
  });


});

function tweet()
{
  var place=$('#email_place').html();
  send_social_action('tweet',place);
}
function dialog(){

               $("#email").click(function() {
                var place=$('#email_place').html()
                _gaq.push(['_trackEvent', 'Email', 'Click', place]);
                $("#dialog-form").dialog("open");
            });
    }
function clear_placeholder()
{
  $('#search').attr('placeholder','');
}
    </script>


<div class="container">
  <div class="row">
     <div class="col-lg-6 input-group">
  <input id="search" type="text" class="form-control" placeholder="where are you headed? eg. Paris" onkeydown="if (event.keyCode==13) { search();}"/ >
  <span class="input-group-btn">
   <button type="button" value="Search" class="btn btn-primary"  onclick="search()">Search</button>
 </span>
 </div>
  </div>
  
  <br>
  <div class="row">
    <div class="col-lg-9">
   <h3> How does it work ?</h3>
        <div> Tripinium provides useful tips for your next trip. These would be tips around what to pack for your trip, peak season months, options for local travel, monuments to visit, things to do, currency conversion outlets, links to particularly insightful reviews on other websites, etc. Our intention is to provide tips which a local should be able to provide. We bring a local perspective to global travel planning. We analyse the content available on the internet (with the help of our users, but more on that in a minute) and create a list of useful tips while also providing relevant links to detailed information present elsewhere on the internet. Infact, most of the tips are user submitted. This way the tips are not just useful but are also relevant and updated. Users also vote on the tips to make sure that the best tips are being read by the community.
        </div>
        <br>
    <h3> How is this different from Tripadvisor, Lonely Planet or even Foursquare ?</h3>
        <div> While most of these websites are destinations for travel planning, we are more like gateways for travel planning - think of a specialised search engine for travel planning - although that goal is very ambitious at present. We provide actionable, practical tips for travel planners, and point them to other detailed resources relevant to their task rather than provide encyclopaedic information ourselves. We are infact trying to complement these great services by being an effective gateway.
        </div>
    <h3> How can I contribute tips for a place?</h3>
        <div> We would be glad to receive community help to improve the tips for a particular place. Infact, it is important that you contribute tips since that would expedite the process of getting more useful content. You can submit tips for a place from the results page itself. The submitted tips go into an admin moderated queue where they are approved before making it into the actual production list of tips.
        </div>
</div>



</div>
<hr>
    <div class="row">
    <div class="col-lg-4">
  <div class="footer">
  <p>© Tripinium.com 2013. All rights reserved.</p>
  </div>
</div>
</div>
  </div>
  {% endblock %}

