{% extends "base.html" %}
{% block content %}
<script>
        $(document).ready(function() {
    $("input#search").autocomplete({
    source: places
});
    $('#user_tips').attr('value','');
  });



</script>
<script>
$(document).ready(function(){
$("#dialog-form").dialog({
            autoOpen: false,
            height: 300,
            width: 600,
            modal: true,
            buttons: {
                "Send": function() {
                    send_email();
                     $(this).dialog("close");
                },
                Cancel: function() {
                  var place=$('#email_place').html()
                  _gaq.push(['_trackEvent', 'Sign_Up_Via_Tip_Rating', 'Cancel', place]);
                    $(this).dialog("close");
                }
            },
            close: function() {
               
            }
        });
$( "#login-confirm" ).dialog({
      resizable: false,
      height:160,
      modal: true,
      autoOpen:false,
      buttons: {
        "Login Usign Gmail": function() {
          window.location=$('#loginurl').attr('href')
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });

 twttr.ready(function (twttr) {
    // bind events here
    twttr.events.bind('tweet', function(event) {
    var place=$('#email_place').html()
    _gaq.push(['_trackEvent', 'Social', 'Tweet', place]);
    send_social_action('tweet',place);
  });
  });


});

function tweet()
{
  var place=$('#email_place').html();
  send_social_action('tweet',place);
}
function dialog(){

               $("#email").click(function() {
                var place=$('#email_place').html()
                _gaq.push(['_trackEvent', 'Email', 'Click', place]);
                $("#dialog-form").dialog("open");
            });
    }
function clear_placeholder()
{
  $('#search').attr('placeholder','');
}
    </script>

</head>
<div class="container">
  <div class="row">
     <div class="col-lg-6 input-group">
  <input id="search" type="text" class="form-control" placeholder="where are you headed? eg. Paris" onkeydown="if (event.keyCode==13) { search();}"/ >
  <span class="input-group-btn">
   <button type="button" value="Search" class="btn btn-primary"  onclick="search()">Search</button>
 </span>
 </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-9">
      <h2 style="display:inline;">Tips for {{place.title()}}</h2> 
     <!-- <img src="/images/envelope.png" style="margin-right:10px;"/>
      <img src="images/print.png"/>-->
      <div class="col-lg-1 pull-right" style="margin-right:0px;padding-right:0px;">
      

    </div>
    <div class="col-lg-1 pull-right">
      
    </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-lg-9">
   <table class="table table-bordered table-striped table-hover">
    <tbody>
      {% for p in place_info.items |sort(attribute='votes', reverse=True)%}
      <tr>
        <td>
          {{p.item_name|safe}}
        </td>
        <td>
          <div id="p{{p.key().id()}}" style="cursor:pointer;color:green;" title="Score {% if p.votes: %}{{p.votes}}{% else: %}{{0}}{% endif %}  Click to vote up" class="triangle-up" onclick="send_votes('{{p.key().id()}}','{{p.key()}}','p',this.id)"></div>
        </td>
        <td>
          <div id="n{{p.key().id()}}" style="cursor:pointer;color:red;" title="Score {% if p.votes: %}{{p.votes}}{% else: %}{{0}}{% endif %}  Click to vote down" class="triangle-down" onclick="send_votes('{{p.key().id()}}','{{p.key()}}','n',this.id)"></div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  {% if urls %}
  <div class="row">
    {% for url in urls %}
    <div class="col-4 col-lg-4">
       
      <div class="img-thumbnail img-responsive"><a href="{{url}}"><img src="{{url}}" alt="{{place}}" class="img" style="height:180px;"></a>
      </div>
    </div>
    {% endfor %}

    
  </div>
  <div class="muted">Source: Flickr</div>
  {% endif %}
</div>
<div class="col-lg-3">
  <div style="font-size:22px;font-weight:bold;">Got a tip to share?</div>
  <div class="muted" style="font-size:14px;">Let us know below</div>
  <textarea id="user_tips" rows="4" style="width:100%" value="" title="Tell us something about this place that we dont yet know"></textarea>
            <br>
            <br>
            <input type="submit" class="btn btn-primary" name="user_feedback" value="Submit" onclick="send_feedback('{{place}}')" 
            style="display:block;"/>
            <div id="tips_thank" style="display:hidden;color:green;"></div>

          
          <br>
<div class="row">
  <div class="col-lg-9">
    <h4>Also Explore</h4>
    <table class="table table-bordered table-striped table-hover">
    <tbody>
      {% for recommendation in recommendations %}
      <tr>
        <td>
         <a href="/search?location={{recommendation.title()}}"><b> {{recommendation.title()}}</b></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
<hr>
    <div class="row">
    <div class="col-lg-4">
  <div class="footer">
  <p>© Tripinium.com 2013. All rights reserved.</p>
  </div>
</div>
</div>
  </div>
  {% endblock %}


