<html>
<head>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script src="/javascript/jquery_plugin/js/jquery.raty.min.js"></script>
</head>
<script type="text/javascript">
function send_review(id,status)
{
 $.ajax({
  type: "POST",
  url: "/send_review",
  data: { id:id,status:status,content:$('#'+id).val()},
  
  success: function(data)
  {
    

  },
  fail: function()
  {
    
    alert('Problem processing request. We are looking into this.');
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
}); 
}
</script>
<body>
	<table style="border:none;width:960px;">
		<tr>
			<td style="width:182px;">
				Place
			</td>
			<td style="width:384px;">
				Tip
			</td>
			<td style="width:288px;">
				User
			</td>
			<td style="width:48px;">
				Accept
			</td>
			<td style="width:48px;">
				Reject
			</td>
		</tr>
		{% for object in tips: %}
		<tr>
			<td style="width:182px;">
				{{object.place}}
			</td>
			<td style="width:384px;">
			<textarea id="{{object.key().id()}}">{{object.tip}}</textarea>
			</td>
			<td style="width:288px;">
				{{object.user}}
			</td>
			<td style="width:48px;pointer:cursor;" onclick="send_review({{object.key().id()}},'accept')">
				Accept {{object.key().id()}}
			</td>
			<td style="width:48px;pointer:cursor;" onclick="send_review({{object.key().id()}},'reject')">
				Reject
			</td>
		</tr>
		{% endfor %}
	</table>
</html>