<html>
<head>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script src="/javascript/jquery_plugin/js/jquery.raty.min.js"></script>

        <style type="text/css">
        .oddrow {
        	background-color:#E5E5E5;
        }
        </style>
</head>
<script type="text/javascript">
function send_review(id,status)
{
 $.ajax({
  type: "POST",
  url: "/send_review",
  data: { id:id,status:status,content:$('#'+id).val()},
  
  success: function(data)
  {
    
  		if(data['status']=='success')
  		{
  			if(status=='accept')
  			{
  				$('#status'+id).html('Successfully Accepted');
  				$('#status'+id).css('color','green');
  			}
  			else
  			{
  				$('#status'+id).html('Successfully Rejected');
  				$('#status'+id).css('color','red');	
  			}

  		}
  		else
  		{
  			$('#status'+id).html('Some problem occurred. Could not complete request.');
  			$('#status'+id).css('color','green');
  			alert('Could not successfully review tip');
  		}
  		$('#accept'+id).attr("onclick","");
  		$('#reject'+id).attr("onclick","");
  		$('#row'+id).css('background-color','grey');

  },
  fail: function()
  {
    
    alert('Problem processing request. We are looking into this.');
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
}); 
}

$(document).ready(function(){
	$("table.tips tr:even").addClass("oddrow");
});

</script>

<body>
	
	<br>
	<table style="border:none;width:960px;" class="tips">
		<tr>
			<td style="width:182px;">
				Place
			</td>
			<td style="width:384px;">
				Tip
			</td>
			<td style="width:288px;">
				User
			</td>
			<td style="width:48px;">
				Accept
			</td>
			<td style="width:48px;">
				Reject
			</td>
		</tr>
		{% for object in tips: %}
		<tr id="row{{object.key().id()}}">
			<td style="width:182px;">
				{{object.place}}
			</td>
			<td style="width:384px;">
			<textarea id="{{object.key().id()}}" cols="45" rows="5">{{object.tip}}</textarea>
			</td>
			<td style="width:288px;">
				{{object.user}}
			</td>
			<td style="width:48px;cursor:pointer;color:green;" id="accept{{object.key().id()}}" onclick="send_review({{object.key().id()}},'accept')">
				Accept 
			</td>
			<td style="width:48px;cursor:pointer;color:red;" id="reject{{object.key().id()}}" onclick="send_review({{object.key().id()}},'reject')">
				Reject
			</td>
			<td style="max-width:80px;" id="status{{object.key().id()}}" style="background-color:white;">
			</td>
		</tr>
		{% endfor %}
	</table>
</html>